@use '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Oi&family=Slackey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Bakbak+One&family=Passion+One:wght@400;700;900&family=Rammetto+One&display=swap');

.header-button {
  font-family: "Slackey", sans-serif;
  border: 2px solid black !important;
  border-radius: 3px !important;
}

.toppage-title-container {
  position: relative;
  display: inline-block;
}

.toppage-title {
  position: relative;
}

.curry-and-ice {
  position: absolute;
  bottom: -4px;
  right: -50px;
  margin-right: 3px;
}

.toppage-curry-container {
  position: relative;
  display: inline-block;
}

.toppage-curry {
  position: relative;
}

.curry-img {
  border: 3px solid white !important;
  box-shadow: 0 0 0 5px black !important;
  border-radius: 10px !important;
}

.to-menu-button-curry {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.see-more-button {
  font-family: "Slackey", sans-serif;
  border: 2px solid black !important;
  width: 200px;
  height: 50px;
  font-size: 25px;
}

.toppage-ice-title {
  font-family: "Anton SC", sans-serif;
  font-size: 80px;
  color: black;
  margin-left: 5px;
}
