<div class="container-fluid top-page" style="width: 100%;">
  <div class="row ">
    <div class="side-bar col-4">
      <div class="card card-opening-hour">
        <div class="card-opening-hour-header">
          OPENING HOUR
        </div>
        <div class="card-body">
          <div class="card-text">
            定休日：月曜日<br>
            ランチ：11:30～15:00 (14:30L.O)<br>
            ディナー：17:00～21:00 (20:30L.O) ※売切れ次第終了<br>
            祝日は営業で翌日休み<br>
            臨時休業はInstagramの投稿とストーリーにて<br>
          </div>
        </div>
      </div>
      <div class="card card-contact">
        <div class="card-contact-header">
          CONTACT
        </div>
        <div class="card-body">
          <div class="card-text">
            TELL: 070-2440-7929<br>
            ご予約はお電話か、InstagramのDMで承ります。<br>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-menu col-6" >
      <%= link_to menu_path do %>
        <div class="toppage-menu-image-container">
          <%= image_tag("butterchicken.png", alt: "バターチキンカレー", class: "toppage-menu-img") %>
        </div>
      <% end %>
      <div class="card-body">
        <p class="card-menu-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>






<!--<div class="text-center ">-->
<!--  <!%= image_tag("MANTRA", style: "width: 700px; height: auto; margin: 0 70px 5px 70px;") %>-->
<!--</div>-->
<!--<div class="text-center">-->
  <!--<!%= image_tag("icecream.png", style: "width: 250px; height: auto;") %>-->
<!--  <!%= image_tag("curryimage2.png", style: "width: 700px; height: auto; margin: 0 70px 0 70px;") %>-->
  <!--<!%= image_tag("drink.png", style: "width: 250px; height: auto;") %>-->
<!--</div>-->
<!--<div class="text-center ">-->
<!--  <!%= image_tag("スパイスカレーとアイスクリーム.png", style: "width: 700px; height: auto; margin: 10px 70px 0 70px;") %>-->
<!--</div>-->

<!--<div class="section-about">-->
<!--  <div class="about-title">-->
<!--    ABOUT-->
<!--  </div>-->
<!--  <div class="about-text">-->
<!--    高円寺のスパイスカレーが群馬県桐生市で再開しました。<br>-->
<!--    カレーは常時4種類ご用意しています。<br>-->
<!--    ○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○<br>-->
<!--    ○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○<br>-->
<!--    ○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○<br>-->
<!--    ○○○○○○○○○○○○○○○○○<br>-->
<!--    ○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○<br>-->
<!--    ○○○○○○○○○○○○○○○○○<br>-->
<!--    ○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○<br>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="section-news">-->
<!--  <div class="news-title">-->
<!--    NEWS-->
<!--  </div>-->
<!--  <div class="card news-card shadow">-->
<!--  </div>-->
<!--</div>-->