<div class="text-center ">
  <%= image_tag("MANTRA", style: "width: 700px; height: auto; margin-bottom:4px;") %>
</div>
<div class="text-center">
  <!--<!%= image_tag("icecream.png", style: "width: 250px; height: auto;") %>-->
  <%= image_tag("curryimage2.png", style: "width: 700px; height: auto; margin-right: 70px; margin-left:70px;") %>
  <!--<!%= image_tag("drink.png", style: "width: 250px; height: auto;") %>-->
</div>
<div class="text-center ">
  <%= image_tag("スパイスカレーとアイスクリーム.png", style: "width: 700px; height: auto; margin-top: 10px;") %>
</div>
