<div class="container-fluid text-center">
  <div class="toppage-title-container">
    <div class="toppage-title">
      <%= image_tag("MANTRA2.png", alt: "MANTRA") %>
      <%= image_tag("スパイスカレーとアイスクリーム.png", alt: "スパイスカレーとアイスクリーム", class: "title-ice-img") %>
    </div>
  </div>
  <div class="toppage-img-container" style="margin-top: 20px;">
    <div class="toppage-image">
      <%= image_tag("curryimage2.png", alt: "バターチキンカレー") %>
      <%= link_to menu_path, class: "to-menu-button" do %>
        <button class="see-more-button">SEE MORE <i class="fa-regular fa-square-caret-right" style="color: black;"></i></button>
      <% end %>
    </div>
  </div>
</div>