<div class="text-center ">
  <%= image_tag("MANTRA", style: "width: 700px; height: auto; margin: 0 70px 5px 70px;") %>
</div>
<div class="text-center">
  <!--<!%= image_tag("icecream.png", style: "width: 250px; height: auto;") %>-->
  <%= image_tag("curryimage2.png", style: "width: 700px; height: auto; margin: 0 70px 0 70px;") %>
  <!--<!%= image_tag("drink.png", style: "width: 250px; height: auto;") %>-->
</div>
<div class="text-center ">
  <%= image_tag("スパイスカレーとアイスクリーム.png", style: "width: 700px; height: auto; margin: 10px 70px 0 70px;") %>
</div>

<div class="section-about">
  <div class="about-title">
    ABOUT
  </div>
  <div class="about-text">
    高円寺のスパイスカレーが群馬県桐生市で再開しました。<br>
    カレーは常時4種類ご用意しています。<br>
    ○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○<br>
    ○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○<br>
    ○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○<br>
    ○○○○○○○○○○○○○○○○○<br>
    ○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○<br>
    ○○○○○○○○○○○○○○○○○<br>
    ○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○<br>
  </div>
</div>

<div class="section-news">
  <div class="news-title">
    NEWS
  </div>
  <div class="card news-card shadow">
  </div>
</div>