<div class="container text-center">
  <div class="row toppage-title-container">
    <div class="toppage-title">
      <%= image_tag("MANTRA2.png", alt: "MANTRA") %>
      <%= image_tag("スパイスカレーとアイスクリーム.png", alt: "スパイスカレーとアイスクリーム", class: "curry-and-ice") %>
    </div>
  </div>
  <div class="row toppage-curry-container" style="margin-top: 30px;">
    <div class="toppage-curry">
      <%= image_tag("curryimage2.png", alt: "バターチキンカレー", class: "curry-img") %>
      <%= link_to menu_path, class: "to-menu-button-curry" do %>
        <button class="see-more-button">SEE MORE <i class="fa-regular fa-square-caret-right" style="color: black;"></i></button>
      <% end %>
    </div>
  </div>
</div>
<div class="container" style="margin-top: 30px;">
  <div class="row toppage-ice-title">
    FIND YOUR ICECREAM
  </div>
  <div class="row toppage-ice-container">
    <div class="col">
      
    </div>
    <div class="col">
      
    </div>
    <div class="col">
      
    </div>
    <div class="col">
      
    </div>
  </div>
</div>
  
